<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>App</title>
</head>

<body>
    <%- include('header') -%>
        <h2>
            <%= message %>
        </h2>
        <p>Az életkorod: <%= age%>.</p>
        <p>
            <%if(age>=18) { %>
                Felnőtt
                <% } else { %>
                    Gyerek
                    <% } %>
        </p>
        <p>Az oldalt készítette: <%= name %>
        </p>
        <p>

            <% switch (<% rand %>) {
                case 1: %>
            Január
              <% break;
                case 2: %>
            Február
              <% break;
                case 3: %>
            Március
              <% break;
              case 4: %>
              Április
                <% break;
                case 5: %>
                Május
                  <% break;
                  case 6: %>
                  Június
                    <% break;
                    case 7: %>
                    Júluis
                      <% break;
                      case 8: %>
                      Augusztus
                        <% break;
                        case 9: %>
                        Szeptember
                          <% break;
                          case 10: %>
                          Október
                            <% break;
                            case 11: %>
                            November
                              <% break;
                              case 12: %>
                              December
                                <% break;
                default: %>
                nincs ilyen hónap
               <% break; } %>
</body>

</html>